DJANGO_SETTINGS_MODULE=app_overtime.settings.local
DJANGO_SECRET_KEY=secret
AWS_S3_UPLOADER_ACCESS_KEY_ID=secret
AWS_S3_UPLOADER_SECRET_ACCESS_KEY=secret
AWS_LAMBDA_SIGNING_KEY=secret
RAVEN_DSN=secret
FLOWER_BASIC_AUTH=flower:secret
